

.site-sidebar {
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 2;
    width: 25%;
    font-size: 14px;
    color: #fff;
    text-align: left;
    background-color: rgba(70, 13, 145, 0.8);
}

/* @media screen and (max-width: 1000px) */
.site-sidebar {
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    position: relative;
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
}