#contactForm-cont {
  display: flexbox;
  justify-content: center;
  width: 60vw;
}

.contact-container {
  color: darkslateblue;
    /* margin-top: 5vh; 
    display: flex;*/
    justify-content: center;
    padding-bottom: 20vh;
}

a,.link-color {
  color:slateblue;
  margin-left: 5px;
}

.link-container {
  justify-content: space-between;
  margin-bottom: 3rem;
  row-gap: 21px;
}

.contact-link {
  padding-right: 2rem;
}