.App {
    text-align: center;
    background-color: #e9ecef;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background-color: #e9ecef;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
.main-content-wrap {
  margin-left: 71px;
  z-index: 999;
  background: #e9ecef;
}


 #home, #skills, #portfolio, #contact, #resume, #skills {
  height: 85vh;
  z-index: -1;
  padding-left: 20vw;
  padding-right: 10vw;
  padding-top: 10vh;
  margin-bottom: 20vh;
  /* background-color: #e9ecef; */
}

#about {
height: 120vh;
z-index: -1;
padding-left: 20vw;
padding-right: 10vw;
padding-top: 10vh;
margin-bottom: 20vh;
background-color: #e9ecef;
}


#footer {
  height: 17vh;
  z-index: 1;
  width: 100vw;
  position: fixed
}

#nifer-head {
  height: 35vh;
}

#projects-container, #skills {
  /*display: flex;*/  justify-content: center;
  margin-bottom: 18vh;
  background-color: #e9ecef;
}
#freakimono {
  margin-left: auto;
  margin-right: auto;
  
}

.card {
  margin-bottom: 15px;
}

.smallCards{
  justify-content: space-evenly;
  margin-top: 20px;
}

.nav-link.active {
  color: #fff !important;
  background: black !important;
}


.skillsContainer {
  text-align: center;
  font-size: 0.7rem;
}
.sectionContainer {
  background-color: white;
  border-radius: 50px;
  padding: 48px;
}

.skillsGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(80px, 1fr))[auto-fill];
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.pageSpacer {
  width: 70vw;
  height: 18vh;
}

.heroDescription2 {
  width: 60vw;
  padding-right: 10vw;
}
